body{
    padding: 30px;
    background: url('dasha.jpg') 0 0/105% no-repeat;
}

h1 {
    border: 5px solid rgb(83, 73, 88);
    border-radius: 15px;  
    margin-left: auto;
    margin-right: auto;
    width: 390px;
    background-color: rgb(226, 17, 139);
    color:white;
}

li{
    border: 5px solid rgb(83, 73, 88);
    border-radius: 15px;
    background-color: rgb(226, 17, 139);
    color:rgb(186, 179, 231);
    text-shadow: 1px 1px 2px black;
    font-size:1.5rem;
}